/*
created by
TheSmallHanCat
Koyuki
用于文件目录美化以及背景图
*/

body{
	background-image:url('http://api.hancat.work/cloud/api.php');//将此处替换为你自己的背景图api地址
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
}

	@keyframes gradientBG {
	    0% {
		background-position: 0% 50%;
		}

		50% {
		background-position: 100% 50%;
		}

		100% {
		background-position: 0% 50%;
		}
	}
.fish-container {
				margin: 0;
				padding: 0;
				background-color: transparent;
				width: 100%;
				height: 200px;
				z-index: -1;
				position: fixed;
				bottom: 0;
				left: 0;
				opacity: .5;
			}


.hope-c-PJLV-igScBhH-css{
    background-color: rgba(255, 255, 255, .8) !important;
    justify-content: center;
}
.hope-c-PJLV-ijgzmFG-css{
    opacity: .8; !important
    justify-content: center;
    backdrop-filter: blur(5px);
}
.hope-c-PJLV-iigjoxS-css{
    opacity: .7;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.hope-c-PJLV-ikEIIxw-css{
    opacity: .7;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.hope-c-PJLV-iiuDLME-css{
    opacity: .7;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.hope-c-PJLV-ikSuVsl-css
{
    opacity: .7;
    justify-content: center;
    backdrop-filter: blur(5px);
}

    .hope-c-PJLV-ikaMhsQ-css{
    --hope-colors-background: #ffffff00;}
    .hope-c-PJLV-idaeksS-css{
    opacity: .6;
    backdrop-filter: blur(10px);
    border-radius: 7px;
    }
.hope-c-PJLV-ifiEvmt-css{
    opacity: .7;
    backdrop-filter: blur(8px);
}
.hope-c-PJLV-iSMXDf-css{
    opacity: .9;
}
